blinker==1.9.0
brotli==1.2.0
charset-normalizer==3.4.7
click==8.4.1
colorama==0.4.6
defusedxml==0.7.1
Deprecated==1.3.1
Flask==3.1.3
Flask-Compress==1.24
Flask-Limiter==4.1.1
Flask-SSE==1.0.0
flask-talisman==1.1.0
Flask-WTF==1.3.0
gevent==26.5.0
greenlet==3.5.2
gunicorn==26.0.0
itsdangerous==2.2.0
Jinja2==3.1.6
limits==5.8.0
MarkupSafe==3.0.3
mysql-connector-python==9.7.0
odfpy==1.4.1
ordered-set==4.1.0
packaging==26.2
pillow==12.2.0
PyOTP==2.10.0
pypdftk==0.5
pytz==2026.2
redis==8.0.0
reportlab==5.0.0
segno==1.6.6
setuptools==82.0.1
six==1.17.0
typing_extensions==4.15.0
Werkzeug==3.1.8
wrapt==2.2.1
WTForms==3.2.2
zope.event==6.2
zope.interface==8.5
