<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <title>Mes oraux - {{centre }} - formulaire Candidat par INE</title>
    {% include 'style.html' %}
</head>
<body class="body-for-sticky">
{% include 'auth_icon.html' %}
    <h1 class="centered"> Recherche fiche candidat par INE</h1>
    <form class="classic" action="{{ url_for('candidat_form') }}" method="get">
        <label for="num">Numéro de candidat: </label>
        <input name="num" placeholder="INE" type="number">
    </form>
    {% include 'footer.html' %}
</body>
</html>
